@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Bebas+Neue|Share+Tech+Mono&display=swap");

input, textarea {
	font-family: "Share Tech Mono";
	border-radius: 0%;
}

/* input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
} */

button {
	padding: 0px;
}

button[type=roll].sheet-blankrollbutton::before { content: ""; }

label {
	font-weight: normal;
}

.sheet-gridcontainer {
	font-family: "Alegreya Sans", sans-serif;
	font-size: 12px;
	white-space: nowrap;
    height: 100%;
    margin: 0;
	display: grid;
	grid-template-rows: min-content min-content min-content min-content min-content auto;
	margin: 16px;
}

.sheet-row1 {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin-bottom: 24px;
	gap: 0px;
}

.sheet-row2 {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-bottom: 24px;
	gap: 0px;
}

.sheet-row3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 24px;
	gap: 0px;
}

.sheet-row4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 24px;
	gap: 0px;
}

.sheet-row5{
	display: grid;
	gap: 0px;
}

.sheet-row6 {
	display: grid;
	height: 320px;
	gap: 0px;
}
.sheet-labelh1 {
	width: 25%;
}

label.sheet-labelh1 {
	font-size: 18px;
	font-family: "Bebas Neue", sans-serif;
	color: #A2A062;
}

label.sheet-labelh2 {
	font-weight: bold;
}

.sheet-info {
	display: grid;
}

.sheet-infobox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 2px;
}

.sheet-gearbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.sheet-hero, .sheet-gear1, .sheet-gear2, .sheet-info1, .sheet-info2, .sheet-skills, .sheet-mode1, .sheet-mode2, .sheet-mode3, .sheet-petcolumn1, .sheet-petcolumn2, .sheet-petcolumn3 {
	display: grid;
	margin-right: 13px;
}

.sheet-info1, .sheet-info2, .sheet-skills, .sheet-abilities {
	row-gap: 2px;
}

.sheet-abilities, .sheet-sidebox, .sheet-physicalcombat, .sheet-metaphysicalcombat {
	display: grid;
}

.sheet-statbox {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 24px;
}

.sheet-statfields{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.sheet-statfields span {
	font-size:12px;
	margin-bottom: 0%;
}

.sheet-statfieldsprof{
	display: grid;
}

.sheet-proficiencylabel {
	display: flex;
	height: 24px;
}

.sheet-statlabel {
	display: flex;
	justify-content: center;
	margin: 0;
	width: 100%;
}

.sheet-statlabel label {
	width: 100%;
	text-align: center;
	margin: 0;
	display: flex;
}

.sheet-stat {
	margin: 3px;
	height: min-content;
	border: 2px solid #ececd5;
}

.sheet-stat button[type=roll], .sheet-stat button[type=action] {
	width: 100%;
	height: inherit;
	padding: 0px;
	margin: 0px;
	font-family: 'Bebas Neue', sans-serif;
	border: 0;
	border-radius: 0px;
	background-image: none;
	text-shadow: none;
	color: black;
	background-color: transparent;
	text-align: center;
	box-shadow:none;
}

.sheet-stat button[type=action]{
	width: 30px;
	background-color: #ddddbd;
}

.sheet-stat button.sheet-proficiencybutton[type=roll]{
	width: 100%;
}

.sheet-statleft input[type=number] {
	text-align: left;
	padding: 0px;
	padding-right: 3px;
	margin: 0px;
	width: 100%;
	font-size: 24px;
	border: 0px;
}

.sheet-statprof {
	background-color: #ececd5;
}

.sheet-statcenter input[type=number] {
	text-align: center;
	padding: 0px;
	padding-right: 15px;
	margin: 0px;
	width: 100%;
	font-size: 24px;
	border: 0px;
	background-color: #ececd5;
}

.sheet-statright input[type=number] {
	text-align: right;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-size: 24px;
	border: 0px;
	padding-left: 3px;
}

.sheet-statleft {
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

.sheet-statright {
	display: flex;
	align-items: flex-end;
	justify-content: left;
}

.sheet-statcenter {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.sheet-statright input {
	border: 0px;
}

.sheet-field {
	display: flex;
	flex-direction: row;
	height: 18px;
}

.sheet-field label {
	width: 100px;
	height: 18px;
}

.sheet-field input{
	border: 0px;
	border-bottom: 2px dotted #ccc;
	height: 18px;
}

.sheet-field input[type=number]{
	margin-left: 8px;
	width: 100%;
}

.sheet-field input[type=text] {
	margin-left: 8px;
	width: 100%;
}

.sheet-hero input[type=text]{
	width: 100%
}

.sheet-sidebox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;
	column-gap: 10px;
}

.sheet-sidebox .sheet-stat {
	display: grid;
	grid-template-rows: auto 21px;
	margin-bottom: 12px;
	width: 100%;
	background-color: #ececd5;
}

.sheet-sidebox .sheet-stat .sheet-statfields {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.sheet-sidebox .sheet-stat .sheet-statlabel {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sheet-sideboxlabel {
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 15.6px;
	font-family: 'Bebas Neue', sans-serif;
	border: 0;
	border-radius: 0px;
	background-image: none;
	text-shadow: none;
	color: black;
	text-align: center;
	box-shadow:none;
	height: 100%;
}

.sheet-sidebox .sheet-stat .sheet-statfields span {
	font-size:12px;
	margin-bottom: 0%;
}

.sheet-sidebox .sheet-hurtfield label {
	width: 25%;
}

.sheet-sidebox input[type=number] {
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-size: 24px;
	border: 0px;
	background-color: #ececd5;
}

.sheet-herodice {
	width: 50%;
}

.sheet-hurtfield .sheet-buttons {
	display: flex;
	align-items: center;
}

.sheet-skills .sheet-field label, .sheet-abilities .sheet-field label, .sheet-gear1 .sheet-field label, .sheet-gear2 .sheet-field label {
	width: 18px;
}

.sheet-buttons {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	grid-area: buttons;
}

.sheet-notes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sheet-notes textarea {
	height: 97%;
	width: 97%;
	resize: none;
	border: 1px solid #ccc;

}

/* Roll Template Styles */

.sheet-rolltemplate-seacat-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: #ffffff;
	font-family: "Alegreya Sans", sans-serif;
	gap: 0;
	padding: 10px;
}

.sheet-rolltemplate-seacat-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.sheet-rolltemplate-seacat-result {
	font-family: "Bebas Neue", sans-serif;
	color: #A2A062;
	font-size: 48px;
	line-height: 36px;
	margin-top: 12px;
}

.sheet-rolltemplate-seacat-right {
	display: grid;
	align-items: center;
	grid-auto-rows: auto;
	gap: 0;
	text-align: left;
	font-family: "Alegreya Sans", sans-serif;
	margin-left: 20px;
}

.sheet-rolltemplate-seacat-details {
	font-size: 14px;
	line-height: 14px;
}

.sheet-rolltemplate-seacat .textchatcontainer .message.hidden3d .inlinerollresult{
	color:rgba(255,255,255,0.0);
	border:none!important
}

.sheet-rolltemplate-seacat .textchatcontainer .avatar{
	position:absolute;
	top:4px;
	left:5px;
	width:28px
}

.sheet-rolltemplate-seacat .textchatcontainer .inlinerollresult.fullcrit{
	color: #3FB315;
	border: 0;
}

.sheet-rolltemplate-seacat .textchatcontainer .inlinerollresult.fullfail{
	color: #B31515;
	border: 0;
}

.sheet-rolltemplate-seacat .textchatcontainer .inlinerollresult.importantroll{
	color: #4A57ED;
	border: 0;
}

.sheet-rolltemplate-seacat .textchatcontainer .formula .inlinerollresult{
	font-size:inherit
}

.sheet-rolltemplate-seacat .tipsy-n.tipsy,.tipsy-n-right.tipsy{
	opacity:1!important
}

.sheet-rolltemplate-seacat .inlinerollresult.fullcrit{
	color: #3FB315;
	border: 0;
}

.sheet-rolltemplate-seacat .inlinerollresult.fullfail{
	color: #B31515;
	border: 0;
}

.sheet-rolltemplate-seacat .inlinerollresult.importantroll{
	color: #4A57ED;
	border: 0;
}

.sheet-rolltemplate-seacat .inlinerollresult {
	background-color: #ffffff;
	border: 0px;
	padding: 0 3px 0 3px;
	cursor: help;
	font-size: 1.1em;
	text-align: center;
	font-weight: normal
}

/* For presentation only, no need to copy the code below */
/* .sheet-gridcontainer * { 
 border: 1px solid rgba(199, 18, 18, 0.527);
 position: relative;
} */

/* .sheet-row1, .sheet-row2, .sheet-row3, .sheet-row4, .sheet-row5, .sheet-row6, .sheet-row7 {
	border: 1px solid grey;
} */